@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FCFBF4; /* Ivory */
}

/* Custom Scrollbar for that Luxury Feel */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #FCFBF4;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
}
